[submodule "build/libs/Linux-Joystick-input"]
	path = build/libs/Linux-Joystick-input
	url = https://github.com/Catraq/Linux-Joystick-input
[submodule "libs/Linux-Joystick-input"]
	path = libs/Linux-Joystick-input
	url = git@github.com:Catraq/Linux-Joystick-input.git
